<!-- Decides what day of the week it is and sets the period accordingly (will still have to be adjusted sometimes) -->
<%
	let guessPeriod = () => {
		let date = new Date();
		let timeOfDay = date.getHours() * 60 + date.getMinutes();

		let timeToMinutes = (hours, minutes) => {
			return hours * 60 + minutes;
		}

		// All the following hours are ends of periods that are during the school hours
		if (date.getDay() !== 3) {
			if (timeOfDay > timeToMinutes(7, 30) && timeOfDay < timeToMinutes(14, 45)) {
				// 1st: 	8:26 	(8:26)
				// 2nd: 	9:23 	(9:23)
				// 3rd: 	10:20	(10:20)
				// 4a: 		10:50	(10:50)
				// 4b: 		11:20	(11:20)
				// 4c: 		11:50	(11:50)
				// 5a: 		12:20	(12:20)
				// 5b: 		12:50	(12:50)
				// 6: 		1:47	(13:47)
				// 7: 		2:45	(14:45)
				if (timeOfDay < timeToMinutes(8, 26))
					return '1';
				else if (timeOfDay < timeToMinutes(9, 23))
					return '2';
				else if (timeOfDay < timeToMinutes(10, 20))
					return '3';
				else if (timeOfDay < timeToMinutes(10, 50))
					return '4a';
				else if (timeOfDay < timeToMinutes(11, 20))
					return '4b';
				else if (timeOfDay < timeToMinutes(11, 50))
					return '4c';
				else if (timeOfDay < timeToMinutes(12, 20))
					return '5a';
				else if (timeOfDay < timeToMinutes(12, 50))
					return '5b';
				else if (timeOfDay < timeToMinutes(13, 47))
					return '6';
				
				else
					return '7';
			}
			else
				return 'Could not predict period';
		}
		else {
			if (timeOfDay > timeToMinutes(7, 30) && timeOfDay < timeToMinutes(14, 45)) {

			}
			else
				return 'Could not predict period';
		}
	}
%>

<script src="static/index.js"></script>

<form method="POST">
	<div class="container-fluid well">
		<h2 class="text-center well">Student Information</h2>
		<div>
			<div class="col-md-8 col-md-offset-2 input-group">
				<div class="input-group-addon" for="studentName">Name</div>
				<input type="text" class="form-control" id="studentName" placeholder="Enter student name" />
			</div>
			<br />
			<div class="col-md-8 col-md-offset-2 input-group">
				<div class="input-group-addon">Math Teacher</div>
				<div class="btn-group">
					<button data-toggle="dropdown" class="btn btn-info dropdown-toggle"><%= teachers[0].lastName; %>&nbsp<span class="caret"></span></button>
					<ul class="dropdown-menu">
						<% for (let i = 0; i < teachers.length; i++) { %>
					    	<li><input type="radio" id="mathTeacher" name="mathTeacher" value="<%= teachers[i].lastName; %>" style="visibility: hidden;" <%= (i === 0) ? 'checked="checked"' : ''; %>><label for="mathTeacher"><%= teachers[i].lastName.substring(0, 1).toUpperCase() + teachers[i].lastName.substring(1) %></label></li>
						<% } %>
					</ul>
				</div>
			</div>
			<br />
			<div class="col-md-8 col-md-offset-2 input-group">
				<div class="input-group-addon">Period</div>
				<div class="btn-group">
					<% let guessedPeriod = guessPeriod(); %>
					<button data-toggle="dropdown" class="btn btn-info dropdown-toggle"><%= guessedPeriod %>&nbsp<span class="caret"></span></button>
					<ul class="dropdown-menu">
						<li><input type="radio" id="period1Radio" name="period" value="1" <%= (guessedPeriod === '1') ? 'checked="checked"' : '' %>><label for="period1Radio">1</label></li>
						<li><input type="radio" id="period2Radio" name="period" value="2" <%= (guessedPeriod === '2') ? 'checked="checked"' : '' %>><label for="period2Radio">2</label></li>
						<li><input type="radio" id="period3Radio" name="period" value="3" <%= (guessedPeriod === '3') ? 'checked="checked"' : '' %>><label for="period3Radio">3</label></li>
						<li><input type="radio" id="period4aRadio" name="period" value="4a" <%= (guessedPeriod === '4a') ? 'checked="checked"' : '' %>><label for="period4aRadio">4a</label></li>
						<li><input type="radio" id="period4bRadio" name="period" value="4b" <%= (guessedPeriod === '4b') ? 'checked="checked"' : '' %>><label for="period4bRadio">4b</label></li>
						<li><input type="radio" id="period4cRadio" name="period" value="4c" <%= (guessedPeriod === '4c') ? 'checked="checked"' : '' %>><label for="period4cRadio">4c</label></li>
						<li><input type="radio" id="period5aRadio" name="period" value="5a" <%= (guessedPeriod === '5a') ? 'checked="checked"' : '' %>><label for="period5aRadio">5a</label></li>
						<li><input type="radio" id="period5bRadio" name="period" value="5b" <%= (guessedPeriod === '5b') ? 'checked="checked"' : '' %>><label for="period5bRadio">5b</label></li>
						<li><input type="radio" id="period6Radio" name="period" value="6" <%= (guessedPeriod === '6') ? 'checked="checked"' : '' %>><label for="period6Radio">6</label></li>
						<li><input type="radio" id="period7Radio" name="period" value="7" <%= (guessedPeriod === '7') ? 'checked="checked"' : '' %>><label for="period7Radio">7</label></li>
					</ul>
				</div>
			</div>
			<br />
			<div class="col-md-8 col-md-offset-2 input-group">
				<div class="input-group-addon">Coming From</div>
				<div class="btn-group">
					<button data-toggle="dropdown" class="btn btn-info dropdown-toggle">Study Hall&nbsp<span class="caret"></span></button>
					<ul class="dropdown-menu">
						<li><input type="radio" id="studyhallRadio" name="comingFrom" value="studyhall" checked="checked" onclick="toggleStudyHallBox(true)"><label for="studyhallRadio">Study Hall</label></li>
						<li><input type="radio" id="classroomRadio" name="comingFrom" value="classroom" onclick="toggleStudyHallBox(false)"><label for="classroomRadio">Classroom</label></li>
						<li><input type="radio" id="lunchRadio" name="comingFrom" value="lunch" onclick="toggleStudyHallBox(false)"><label for="lunchRadio">Lunch</label></li>
					</ul>
				</div>
				<input type="text" id="studyhallBox" class="input-group-addon" placeholder="Room Number">
			</div>
			<br />
			<h2 class="text-center well">ARC Information</h2>
			<div class="col-md-8 col-md-offset-2 input-group">
				<div class="input-group-addon">Helped with</div>
				<div class="btn-group">
					<button data-toggle="dropdown" class="btn btn-info dropdown-toggle">Choose all that apply&nbsp<span class="caret"></span></button>
					<ul class="dropdown-menu">
						<li><input type="checkbox" id="helpedWithHomeworkRadio" name="helpedWith" value="homework"><label for="helpedWithHomeworkRadio">Homework</label></li>
						<li><input type="checkbox" id="helpedWithTestRetakeRadio" name="helpedWith" value="testRetake"><label for="helpedWithTestRetakeRadio">Test Retake</label></li>
						<li><input type="checkbox" id="helpedWithRemedialRadio" name="helpedWith" value="remedial"><label for="helpedWithRemedialRadio">Remedial</label></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</form>