<!DOCTYPE html>
<html lang="en-US" style="height: 100%;">
	<head>
		<% // All the styles and JS we'll need %>
		<%- include('universalhead.ejs') %>
	</head>
	<body class="container">
		<noscript>
			<style type='text/css'>
				.hasJS { display: none; }
			</style>
			<h2 class="well text-center">
				If your browser does not support JavaScript, or you have turned it off, this domain will not function properly. Please enable it to access all the pages on this domain.
			</h2>
		</noscript>
		<div class="hasJS">
			<% if (success_msg.length > 0) { %>
				<div class="bg-success">
					<%= success_msg %>
				</div>
			<% } %>
			<% if (error_msg.length > 0) { %>
				<div class="bg-warning">
					<%= error_msg %>
				</div>
			<% } %>
			<% if (error.length > 0) { %>
				<div class="bg-danger">
					<%= error %>
				</div>
			<% } %>
			<br />
			<% let keys = Object.keys(errors); %>
			<% if (keys.length > 0) { %>
				<div class="well">
					<h2 class="text-danger text-center">Error filling out fields!</h2>
					<ul>
						<% for (let i = 0; i < keys.length; i++) { %>
							<li class="text-danger text-center hidden-list"><strong><%= errors[keys[i]].msg %></strong></li>
						<% } %>
					</ul>
				</div>
				<br />
				<br />
			<% } %>

			<% // Implementing passed page %>
			<%- include( page ); %>
		</div>
	</body>
</html>