<tr class="text-xs-center"> 
  <th scope="row">
    <%= entry.lastName %>
  </th>
  <th scope="row">
    <%= entry.firstName %>
  </th>
  <td>
    <%= entry.teacherId %>
  </td>
  <td>
    <%= entry.class %>
  </td>
  <td>
    <%= entry.hour %>
  </td>
  <td>
    <%= englishCapitalize(entry.comingFrom) %>
  </td>
  <td>
    <%= (typeof entry.studyHallRoom !== 'undefined') ?
        entry.studyHallRoom :
        'N/A'
    %>
  </td>
  <td>
    <ul>
      <% for (let i = 0; i < entry.helpedWith.length; i++) { %>
        <li>
          <%= englishCapitalize(entry.helpedWith[i]) %>
        </li>
      <% } %>
    </ul>
  </td>
  <td>
    <ul>
      <% for (let i = 0; i < entry.helpedBy.length; i++) { %>
        <li>
          <%= englishCapitalize(entry.helpedBy[i]) %>
        </li>
      <% } %>
    </ul>
  </td>
  <td>
    <%= entry.arcHour %>
  </td>
  <td>
    <%= entry.comments %>
  </td>
</tr>